Repository teodorvoicencu/ubb-courses, pull requests merged in 2020-01, with the labels that each got.

#26 added foreign key to courses table
  backend/src/main/java/ubb/courses/backend/models/Course.java
  backend/src/main/java/ubb/courses/backend/services/course/CourseService.java
  backend/src/main/java/ubb/courses/backend/services/security/ISecurityService.java
  backend/src/main/java/ubb/courses/backend/services/security/SecurityService.java
  backend/src/main/resources/db/migration/V06__update_course_model.sql
Labels: Backend, Review

#28 Remove unused import from user service
  backend/src/main/java/ubb/courses/backend/services/user/UserService.java
Labels: Backend, Review, bug

#27 Create the update course actions, saga and update configs
  frontend/src/app/config/sagas.config.jsx
  frontend/src/app/redux/course/course.redux.jsx
  frontend/src/app/redux/course/course.sagas.jsx
  frontend/src/app/redux/course/index.js
Labels: Frontend, Review

#32 Add fetch course redux and saga
  frontend/src/app/config/sagas.config.jsx
  frontend/src/app/redux/course/course.redux.jsx
  frontend/src/app/redux/course/course.sagas.jsx
  frontend/src/app/redux/course/index.js
Labels: Frontend, Review

#29 added IsStudent annotation
  backend/src/main/java/ubb/courses/backend/annotations/IsStudent.java
  backend/src/main/java/ubb/courses/backend/security/AuthorityInterceptor.java
  backend/src/main/java/ubb/courses/backend/services/security/ISecurityService.java
  backend/src/main/java/ubb/courses/backend/services/security/SecurityService.java
  backend/src/main/java/ubb/courses/backend/services/user/UserService.java
  backend/src/main/resources/db/migration/V06__update_course_model.sql
Labels: Backend, Review

#40 Code refactor and split user profile into smaller components
  frontend/src/app/pages/desktop.userProfilePage.jsx
  frontend/src/app/pages/styles/desktop.userProfilePage.scss
  frontend/src/app/theme/static/profileImage.jpg
  frontend/src/app/user/styles/userProfileImage.scss
  frontend/src/app/user/userProfileDetails.jsx
  frontend/src/app/user/userProfileImage.jsx
Labels: Frontend, Review, bug

#42 Create the button for adding a course
  backend/src/main/java/ubb/courses/backend/security/JwtTokenProvider.java
  frontend/src/app/navbar/createCourseNavButton.jsx
  frontend/src/app/navbar/styles/createCourseNavButton.scss
  frontend/src/app/navbar/userNav.jsx
  frontend/src/app/redux/user/user.sagas.jsx
  frontend/src/app/types/authority.jsx
Labels: Backend, Frontend, Review

#44 Create teacher and student private routes
  frontend/.eslintrc
  frontend/src/app/app.jsx
  frontend/src/app/course/courseCard.jsx
  frontend/src/app/navbar/createCourseNavButton.jsx
  frontend/src/app/navbar/navbar.jsx
  frontend/src/app/navbar/userNav.jsx
  frontend/src/app/redux/course/course.sagas.jsx
  frontend/src/app/register/registerLink.jsx
  frontend/src/app/routes/index.js
  frontend/src/app/routes/routes.jsx
  frontend/src/app/routes/studentRoute.jsx
  frontend/src/app/routes/teacherRoute.jsx
  frontend/src/app/routes/types.jsx
  frontend/src/app/types/index.js
Labels: Frontend, Review

#35 Added enrollment class
  backend/src/main/java/ubb/courses/backend/controllers/course/CourseController.java
  backend/src/main/java/ubb/courses/backend/models/Course.java
  backend/src/main/java/ubb/courses/backend/models/Enrollment.java
  backend/src/main/java/ubb/courses/backend/models/authorization/User.java
  backend/src/main/java/ubb/courses/backend/repositories/EnrollmentRepository.java
  backend/src/main/java/ubb/courses/backend/services/course/CourseService.java
  backend/src/main/java/ubb/courses/backend/services/course/ICourseService.java
  backend/src/main/resources/db/migration/V08__create_enrollment.sql
Labels: Backend, Review

#49 Fixed duplicate enrollment issue
  backend/src/main/java/ubb/courses/backend/repositories/EnrollmentRepository.java
  backend/src/main/java/ubb/courses/backend/services/course/CourseService.java
Labels: Backend, Review, bug
